@model YAB.Models.DebtAccounts

<div>
    <h4>DebtAccounts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NextPaymentDue)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NextPaymentDue)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PaymentsBehind)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PaymentsBehind)
        </dd>
    </dl>
</div>
