@model YAB.Models.DebtAccounts

@*<div>
    <h4>DebtAccounts</h4>
    <hr />
    <dl class="row">*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentsBehind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentsBehind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextPaymentDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextPaymentDue)
        </dd>
    @*</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
